webserver=true
webserver-allow-from={{ host_subnet_cidr }}
#webserver-password={{ powerdns.server.password }}
webserver-port={{ powerdns.server.port | default(8081) }}
webserver-address=0.0.0.0
local-port=54
#default-soa-name={{ host_zone }}

api=yes
api-key={{ powerdns.api.key }}
