{
    "rrsets": [
        {
            "name": "{{ host.name }}.{{ host.zone }}.",
            "type": "A",
            "changetype": "REPLACE",
            "ttl": 86400,
            "records":
            [
            {
                "content": "{{ host.ipv4 }}",
                "disabled": false,
                "name": "{{ host.name }}.{{ host.zone }}.",
                "type": "A",
                "priority": 0
            }
            ]
        }
    ]
}