{
    "rrsets": [
        {
            "name": "{{ host_name }}.{{ host_zone }}.",
            "type": "A",
            "changetype": "REPLACE",
            "ttl": 86400,
            "records":
            [
            {
                "content": "{{ host_ipv4 }}",
                "disabled": false,
                "name": "{{ host_name }}.{{ host_zone }}.",
                "type": "A",
                "priority": 0
            }
            ]
        }
    ]
}