[misc]
host_whitelist = {{ host_name }}.{{ host_zone }}
api_key = {{ sabnzb_api_key }}
download_dir = {{ sabnzb_download_dir }} 
download_free = ""
complete_dir = {{ sabnzb_complete_dir }}
complete_free = ""
permissions = 0777
[logging]
log_level = 1
max_log_size = 5242880
log_backups = 5
[servers]
{% for sabnzb_server in sabnzb_servers %}
[[{{ sabnzb_server.host }}]]
name = {{ sabnzb_server.host }}
displayname = {{ sabnzb_server.host }}
host = {{ sabnzb_server.host }} 
port = {{ sabnzb_server.port | default(563) }}
timeout = 60
username = {{ sabnzb_server.user }}
password = {{ sabnzb_server.password }}
connections = {{ sabnzb_server.connections | default(20) }}
ssl = {{ sabnzb_server.ssl | default(1)}}
ssl_verify = 2
ssl_ciphers = ""
enable = 1
required = 0
optional = 0
retention = 0
expire_date = ""
quota = ""
usage_at_start = 0
priority = 0
notes = ""
{% endfor %}